src/main/mule/heroku-provisioning-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<http:listener-config
		name="heroku-provisioning-api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8082" protocol="HTTPS">
			<tls:context>
				<tls:key-store type="jks" path="keystore.jks"
					alias="mule" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>

	<http:request-config name="Anypoint_HTTP_Request"
		doc:name="HTTP Request configuration"
		doc:id="3a3069d0-49fb-4a2d-9010-c6c9e36b57b1" enableCookies="false">
		<http:request-connection protocol="HTTPS"
			host="anypoint.mulesoft.com" port="443">
			<tls:context>
				<tls:key-store type="jks" path="keystore.jks"
					keyPassword="password" password="password" />
			</tls:context>
		</http:request-connection>
	</http:request-config>

	<apikit:config name="heroku-provisioning-api-config"
		api="resource::b85b361d-0842-4b70-af37-2723c2c3ae7e:heroku-provisioning-api:1.0.6:raml:zip:heroku-provisioning-api.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" disableValidations="true" />
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="03ec822b-978e-4457-b9d8-fdac23a2bff9"
		file="mule-properties.yaml" />

	<http:request-config name="Grant_Code_HTTP_Request"
		doc:name="HTTP Request configuration"
		doc:id="d103b80b-4970-40a7-ab45-19ea1e0c4a13">
		<http:request-connection protocol="HTTPS"
			host="id.heroku.com" port="443" />
	</http:request-config>

	<http:request-config name="API_Heroku_HTTP_Request"
		doc:name="HTTP Request configuration"
		doc:id="6a21da04-4ff1-476c-92bc-3ff872789345">
		<http:request-connection protocol="HTTPS"
			host="api.heroku.com" port="443" />
	</http:request-config>

	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="a8658c6f-9129-4e8b-81f3-23baec6f86a7">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<flow name="heroku-provisioning-api-main">
		<http:listener
			config-ref="heroku-provisioning-api-httpListenerConfig" path="/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router
			config-ref="heroku-provisioning-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="heroku-provisioning-api-console">
		<http:listener
			config-ref="heroku-provisioning-api-httpListenerConfig"
			path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console
			config-ref="heroku-provisioning-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow
		name="post:\heroku\resources:application\json:heroku-provisioning-api-config">
		<logger level="INFO" doc:name="Logger"
			doc:id="d27e8ce1-8c1d-4294-be33-8456a939aa9d" message="#[payload]" />
		<set-variable value="#[payload.uuid]" doc:name="uuid"
			doc:id="3d7d5cd8-7df9-4ffb-90b4-59bc20fa83a6" variableName="uuid" />
		<set-variable value="#[payload.options]"
			doc:name="ap_credentials"
			doc:id="d9799468-62c5-446d-9e13-b07dfee94ab1"
			variableName="ap_credentials" />
		<async doc:name="Async"
			doc:id="c7cd6a89-f773-463a-8cd0-6be26f9fe1a8">
			<http:request method="POST" doc:name="Grant Code"
				doc:id="63488fd3-bde3-476f-aa47-e14e3edd83cf"
				config-ref="Grant_Code_HTTP_Request" path="/oauth/token"
				target="accessToken" targetValue="#[payload.access_token]">

				<http:body><![CDATA[#[output application/x-www-form-urlencoded 
--- 
{	
	client_secret : p('heroku.client_secret'), 	
	grant_type : "authorization_code",	
	code : payload.oauth_grant.code
}]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"Host" : "id.heroku.com"
}]]]></http:headers>
			</http:request>
			<http:request method="GET" doc:name="App Info"
				doc:id="21778486-a4e9-4b9e-a3e2-f3f005b2e3e2"
				config-ref="API_Heroku_HTTP_Request" path="/addons/{uuid}"
				target="app_id" targetValue="#[payload.app.id]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.accessToken,
	"Accept" : "application/vnd.heroku+json; version=3",
	"Content-Type" : "application/json"
}]]]></http:headers>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"uuid" : vars.uuid
}]]]></http:uri-params>
			</http:request>
			<http:request method="GET" doc:name="Hostname"
				doc:id="a3524887-14a4-418a-9460-0497d491e618"
				config-ref="API_Heroku_HTTP_Request" path="/apps/{app_id}/domains"
				target="hostname" targetValue="#[payload[0].hostname]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.accessToken,
	"Accept" : "application/vnd.heroku+json; version=3",
	"Content-Type" : "application/json"
}]]]></http:headers>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"app_id" : vars.app_id
}]]]></http:uri-params>
			</http:request>
			<os:store doc:name="Store"
				doc:id="35044cec-0361-4194-aef6-ab631b2bd253" key="#[vars.uuid]">
				<os:value><![CDATA[#[{
	"provision": payload,
	"hostname": vars.hostname,
	"accessToken": vars.accessToken,
	"app_id": vars.app_id,
	"provisioned": false
}]]]></os:value>
			</os:store>
			<http:request method="POST" doc:name="Provision"
				doc:id="bc4e5b64-3cea-4cb4-9c56-7b877907c726"
				config-ref="API_Heroku_HTTP_Request"
				path="/addons/{uuid}/actions/provision">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.accessToken,
	"Accept" : "application/vnd.heroku+json; version=3",
	"Content-Type" : "application/json"
}]]]></http:headers>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"uuid" : vars.uuid
}]]]></http:uri-params>
			</http:request>
		</async>
		<ee:transform
			xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.uuid,
  message: "Your add-on is being provisioned. It will be available shortly."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow
		name="put:\heroku\resources\(uuid):heroku-provisioning-api-config">
		<ee:transform
			xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
			<ee:variables>
				<ee:set-variable variableName="uuid">attributes.uriParams.'uuid'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform
			xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
			xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.uuid,
  message: "Unable to change plan."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow
		name="delete:\heroku\resources\(uuid):heroku-provisioning-api-config">
		<ee:transform
			xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
			<ee:variables>
				<ee:set-variable variableName="uuid">attributes.uriParams.'uuid'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<os:retrieve doc:name="Retrieve"
			doc:id="3a3e46b6-22f6-445b-9028-2901a39555cf" key="#[vars.uuid]">
			<os:default-value><![CDATA[{}]]></os:default-value>
		</os:retrieve>
		<async doc:name="Async"
			doc:id="68ee717f-ddeb-400f-9539-f6d032166e1d">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="0aa6673a-238e-4fc8-81e2-fd06bbf83e37" variableName="provision_data"/>
			<http:request method="POST"
						doc:name="Anypoint - Get Access Token"
						doc:id="5464fb13-e78d-4a07-a9ff-06e8bf309180"
						config-ref="Anypoint_HTTP_Request" path="/accounts/login"
						target="access_token" targetValue="#[payload.access_token]">
						<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"username": payload.provision.options.apuser,
	"password": payload.provision.options.appwd
}]]]></http:body>
						<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
					</http:request>
			<http:request method="DELETE" doc:name="Anypoint - Delete App" doc:id="80c5eaac-9b4a-4a59-941a-2d7f36beb70b" config-ref="Anypoint_HTTP_Request" path='#["/cloudhub/api/v2/applications/" ++ ((vars.provision_data.hostname default "") splitBy(/[.\/]/))[0]]'>
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token
}]]]></http:headers>
			</http:request>
			<http:request method="DELETE" doc:name="Anypoint - Delete API" doc:id="bfdc98b3-7fc1-456a-8424-4d21ec3f7171" config-ref="Anypoint_HTTP_Request" path='#["/apimanager/api/v1/organizations/" ++ vars.provision_data.organizationId ++ "/environments/" ++ vars.provision_data.environmentId ++ "/apis/" ++ vars.provision_data.api_id]'>
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token
}]]]></http:headers>
			</http:request>
			<http:request method="DELETE" doc:name="Anypoint - Delete API" doc:id="cc2e88e0-e55d-4dea-969a-72362724d275" config-ref="Anypoint_HTTP_Request" path='#["/exchange/api/v1/organizations/" ++ vars.provision_data.organizationId ++ "/assets/" ++ vars.provision_data.organizationId ++ "/" ++ vars.provision_data.herokuAppId ++ "/1.0.0"]'>
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token
}]]]></http:headers>
			</http:request>
			
			
		</async>
		<os:remove doc:name="Remove"
			doc:id="dc6aad1b-ba8f-4dd0-82c1-ab07018dba73" key="#[vars.uuid]" />
	</flow>
	<flow name="heroku-provisioning-apiFlow"
		doc:id="6747f616-853e-47cc-9398-137a4ef5133a">
		<scheduler doc:name="Scheduler"
			doc:id="4c2bd1da-7aeb-4cb0-aae3-baad334cc63a">
			<scheduling-strategy>
				<fixed-frequency frequency="60" timeUnit="SECONDS"
					startDelay="30" />
			</scheduling-strategy>
		</scheduler>
		<os:retrieve-all-keys
			doc:name="Retrieve all keys"
			doc:id="2800a4bd-9c87-4790-b4d3-057d2842a1e4" />
		<foreach doc:name="For Each"
			doc:id="219f170c-c784-4c4e-9860-c15b25b2c052">
			<os:retrieve doc:name="Retrieve"
				doc:id="7c9c905e-c622-4eb2-adfb-87d87284fef1" key="#[payload]">
				<os:default-value><![CDATA[""]]></os:default-value>
			</os:retrieve>
			<choice doc:name="Choice"
				doc:id="b5c49cb8-1118-4da4-9f9b-f7d85ac70829">
				<when expression="payload.provisioned == false">
					<set-variable value="#[payload]"
						doc:name="provision_data"
						doc:id="ee22d135-624f-4e9a-86e3-6e6375922c40"
						variableName="provision_data" />

					<http:request method="POST"
						doc:name="Anypoint - Get Access Token"
						doc:id="04538e42-5721-498b-8017-c1ded86cb005"
						config-ref="Anypoint_HTTP_Request" path="/accounts/login"
						target="access_token" targetValue="#[payload.access_token]">
						<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"username": vars.provision_data.provision.options.apuser,
	"password": vars.provision_data.provision.options.appwd
}]]]></http:body>
						<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
					</http:request>
					<http:request method="GET"
						doc:name="Anypoint - Get Org ID"
						doc:id="efc33bc6-7a3b-44eb-a53c-36719fa3b6bb"
						config-ref="Anypoint_HTTP_Request" path="/accounts/api/profile">
						<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token,
	"Content-Type" : "application/json"
}]]]></http:headers>
					</http:request>
					<ee:transform doc:name="Transform Message" doc:id="a47f732a-6b25-4d86-9558-0a6ee29b8ae5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output multipart/form-data
---
{
	parts: {
		organizationId: {
			headers : {
            },
            content: payload.organizationId
		},
		groupId: {
			headers : {
            },
            content: payload.organizationId
		},
		name: {
			headers : {
            },
            content: ((vars.provision_data.hostname default "") splitBy(/[.\/]/))[0]
		},
		assetId: {
			headers : {
            },
            content: vars.provision_data.provision.name
		},
		version: {
			headers : {
            },
            content: "1.0.0"
		},
		classifier: {
			headers : {
            },
            content: "http"
		},
		apiVersion: {
			headers : {
            },
            content: "v1"
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
							<ee:set-variable variableName="organizationId" ><![CDATA[%dw 2.0
output application/java
---
payload.organizationId]]></ee:set-variable>
							<ee:set-variable variableName="environmentId" ><![CDATA[%dw 2.0
output application/java
---
(payload.organization.environments filter (value, index) -> (value.name == vars.provision_data.provision.options.apenvname))[0].id]]></ee:set-variable>
						</ee:variables>
		</ee:transform>
					<http:request method="POST" doc:name="Anypoint - Add Assets to Exchange" doc:id="39f9fa07-a8b3-4435-b3c4-4ed2f18fedf6" config-ref="Anypoint_HTTP_Request" path="/exchange/api/v1/assets">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token
}]]]></http:headers>
		</http:request>
					<http:request method="POST" doc:name="Anypoint - Add API to API Manager" doc:id="e77d66c2-974e-4dbf-8f90-f59940588804" config-ref="Anypoint_HTTP_Request" path='#["/apimanager/api/v1/organizations/" ++ vars.organizationId ++ "/environments/" ++ vars.environmentId ++ "/apis"]' target="api_id" targetValue="#[payload.id]">
						<http:body ><![CDATA[#[output application/json
---
{
   "endpoint":{
      "deploymentType":"CH",
      "isCloudHub":true,
      "muleVersion4OrAbove":true,
      "proxyUri":"http://0.0.0.0:8081/",
      "proxyTemplate":{
         "assetVersion":"1.1.3"
      },
      "referencesUserDomain":false,
      "responseTimeout":null,
      "type":"http",
      "uri":"https://" ++ vars.provision_data.hostname,
      "validation":"NOT_APPLICABLE"
   },
   "providerId":null,
   "instanceLabel":"Heroku App",
   "spec":{
      "assetId":vars.provision_data.provision.name,
      "groupId":vars.organizationId,
      "version":"1.0.0"
   }
}]]]></http:body>
						<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token,
	"Content-Type" : "application/json"
}]]]></http:headers>
					</http:request>
					<http:request method="POST" doc:name="Anypoint - Deploy API Proxy" doc:id="af35e135-ae91-4e64-a32d-2e6444c50b9e" config-ref="Anypoint_HTTP_Request" path='#["/proxies/xapi/v1/organizations/" ++ vars.organizationId ++ "/environments/" ++ vars.environmentId ++ "/apis/" ++ vars.api_id ++ "/deployments"]'>
						<http:body ><![CDATA[#[output application/json
---
{
   "applicationName":((vars.provision_data.hostname default "") splitBy(/[.\/]/))[0],
   "gatewayVersion":"4.3.0",
   "overwrite":true,
   "type":"CH",
   "environmentId":vars.environmentId,
   "environmentName":vars.provision_data.provision.options.apenvname
}]]]></http:body>
						<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.access_token,
	"Content-Type" : "application/json"
}]]]></http:headers>
					</http:request>
					<logger level="INFO" doc:name="Logger" doc:id="b0603941-32d4-4665-a4ac-3efdd25ae576" message="#[payload]"/>
					<os:store doc:name="Store" doc:id="6e3dedb2-9d51-4595-9a85-49aa71575a25" key="#[vars.provision_data.provision.uuid]">
						<os:value ><![CDATA[#[%dw 2.0
output application/json
---
(vars.provision_data mapObject (value, key) -> {
    (if (key as String =="provisioned") {
        "provisioned": true
    } else {
        (key): (value)
    })
}) ++ {"api_id": vars.api_id, "herokuAppId": vars.provision_data.provision.name, "environmentId": vars.environmentId, "organizationId": vars.organizationId}]]]></os:value>
					</os:store>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Logger" doc:id="b3481e56-68a0-4b40-af87-2abaad874387" />
				</otherwise>
			</choice>
		</foreach>
	</flow>
</mule>
